<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452255726009-g6gc2fsojosfdgpnf9vjsd7e7kr90tl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452255726009-g6gc2fsojosfdgpnf9vjsd7e7kr90tl3</string>
	<key>API_KEY</key>
	<string>AIzaSyBB9Os6jxO7C0eso1KuXWPdJctaU8Aer9A</string>
	<key>GCM_SENDER_ID</key>
	<string>452255726009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ph.bet</string>
	<key>PROJECT_ID</key>
	<string>worldbet-aaa29</string>
	<key>STORAGE_BUCKET</key>
	<string>worldbet-aaa29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452255726009:ios:8deb6f0c7a39737b689e68</string>
</dict>
</plist>